apiVersion: v1
additionalTrustBundle: |
{{ disconnected_mirror_certificate }}
baseDomain: {{ domain_name }}
imageContentSources:
- mirrors:
  - {{ domain_name }}/ocp-{{ version_openshift }}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ domain_name }}/ocp-{{ version_openshift }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
compute:
- name: worker
  replicas: 3
  platform:
    {{ cloud_provider }}:
      type: {{ cloud_instance_type_worker }}
      zones:
      - {{ cloud_zone_a }}
      - {{ cloud_zone_b }}
      - {{ cloud_zone_c }}
controlPlane:
  name: master
  replicas: 3
  platform:
    {{ cloud_provider }}:
      type: {{ cloud_instance_type_worker }}
      zones:
      - {{ cloud_zone_a }}
      - {{ cloud_zone_b }}
      - {{ cloud_zone_c }}
metadata:
  name: {{ cluster_name }}
platform:
  {{ cloud_provider }}:
    amiID: {{ cloud_instance_ami }}
    region: {{ cloud_region }}
pullSecret: '{{ quay_pull_secret_mirror_string }}'
sshKey: "{{ sshkeys_priv_string }}"
publish: {{ openshift_install_publish }}
fips: {{ cloud_instance_ami }}
