cloud_region: "{{ cloud_region }}"
cluster_domain: "{{ cluster_domain }}"
name_cluster_vpc: "{{ name_cluster_vpc }}"
sshkeys_pub_file: "{{ dir_artifacts }}/.ssh/id_rsa_{{ cluster_domain }}.pub"
master_userdata_path: "{{ dir_artifacts }}/data/master.ign"
bootstrap_userdata_path: "{{ dir_artifacts }}/data/bootstrap.json"
