cloud_region: "{{ cloud_region }}"
cluster_vpc: "{{ name_cluster_vpc }}"
cluster_domain: "{{ cluster_domain }}"
aws_profile: "{{ profile_aws | default }}"
sshkeys_pub_file: "{{ dir_artifacts }}/.ssh/id_rsa_{{ cluster_domain }}.pub"
master_userdata_path: "{{ dir_artifacts }}/data/master.ign"
bootstrap_userdata_path: "{{ dir_artifacts }}/data/bootstrap.json"
iam_bootstrap_profile: "{{ name_cluster_vpc }}-master-profile"
credentials_file: ""
default_tags: ""
